.body{
    background-color: #D4DAD9;
}

.navbar.mynav {
    background-color: #fff;
    color: #000;
    height: 65px;
    margin-bottom: 10px;
    text-decoration: none;
}

.navbar-brand{
    background-color: #3AC4C0;
    text-decoration: none;
   

}

.navbar .navbar-brand.mynav{
    color: #fff;
    padding: 10px;
    margin-left: 50px;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#navbarDropdownMenuLink{
    color: #000;
}

.navbar-light .navbar-nav .nav-link{
    color: #000;
   
}



.mycontainer{
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
}

.datacontainer{
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.row{
    background: #D4DAD9;
}

.column1{
    margin-left: 30px;
    margin-bottom: 20px;
    padding: 30px;
    background-color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: black;
}

.column2{
   margin-left: 30px;
   margin-bottom: 75px;
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 30px;
    background-color: #fff;
}

.viz{
    margin-left: 30px;
    margin-bottom: 30px;
    padding: 30px;
    background-color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: black

}

.viz2{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 310px;
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 25px;
    color: black;
    background-color: #fff;
}

.viz3{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: black;
    background-color: #fff;

}

.myheader{
    color: #3AC4C0;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 20px;
}

.figure{
    float: left;
    padding: 5px;
    text-align: center;
    
}

.mainimage{
    height: 413px;
    width: 600px;
}
.mystyle {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 11pt; 
    font-family: Arial;
    border-collapse: collapse; 
    border: 1px solid silver;

}

.mystyle td, th {
    padding: 5px;
}

.mystyle tr:nth-child(even) {
    background: #D4DAD9;
}

@media (max-width: 720px) {
    nav.bg-light {
        background-color: #3AC4C0 !important;
    }
    
    .mycontainer {
        padding-top: 15;
        padding-right: 15px;
        padding-left: 15px; 
        margin-right: 10px;
    }

    .datacontainer{
        padding-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }

    .mainimage{
        height: 206px;
        width: 300px;
    }

}



    

